<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>

    <link rel="stylesheet" href="../assets/css/fonts.css">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/add-task.css">

    <script src="../assets/js/mini_backend.js"></script>
    <script src="../assets/js/main.js"> </script>
    <script src="../assets/js/add-task.js"> </script>
    <script>setURL('https://andrea-boehme.developerakademie.net/kanban-app/smallest_backend_ever');</script>
    <script src="../assets/js/toggle-button.js"></script>

    <link rel="icon" type="image/x-icon" href="../assets/img/favicon.ico">
</head>

<body onload="loadTasks(); includeHTML()">
    <div w3-include-html="../views/nav.html"></div>
    <div class="add-task-container">
        <h2>Add Task</h2>
        <form onsubmit="event.preventDefault(), addTask()" action="" class="form-container">
            <div class="column1">
                <div class="column2">
                    <b>Title</b>
                    <input type="text" class="input" id="title" minlength="3" required>
                </div>
                <div class="column2">
                    <b>Category</b>
                    <select class="input-small" id="category" required>
                        <option hidden></option>
                        <option>Marketing</option>
                        <option>Development</option>
                        <option>Design</option>
                    </select>
                </div>
                <div class="column2">
                    <b>Description</b>
                    <textarea style="resize: none;" class="input" id="description" cols="30" rows="8" class="text"
                        required></textarea>
                </div>
            </div>
            <div class="column1">
                <div class="column2">
                    <b>Due Date</b>
                    <input class="input-small" type="date" name="Date" id="dueDate" minlength="3" required>
                </div>
                <div class="column2">
                    <b>Urgency</b>
                    <select class="input-small" id="urgency" required>
                        <option hidden></option>
                        <option value="Normal">Normal</option>
                        <option value="High">High</option>
                        <option value="Very high">Very high</option>
                    </select>
                </div>
                <div class="column2">
                    <b>Assign To</b>
                    <div>
                        <img id="userImg" src="../assets/img/profile.png" class="user">
                        <select class="input-small" id="assigned" onchange="changeUser()" required>
                            <option hidden></option>
                            <option value="Max">Max</option>
                            <option value="Will">Will</option>
                            <option value="Anna">Anna</option>
                            <option value="Lucy">Lucy</option>
                        </select>
                    </div>
                </div>
                <div class="button">
                    <button type="reset" onclick="clearInput()">CANCEL</button>
                    <button type="submit" id="btn-add">ADD TASK</button>
                </div>
                <div id="save-confirmation">
                </div>
            </div>
        </form>
    </div>
</body>

</html>