<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>

    <link rel="stylesheet" href="../assets/css/fonts.css">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/help.css">

    <script src="../assets/js/mini_backend.js"></script>
    <script src="../assets/js/main.js"> </script>
    <script>setURL('https://andrea-boehme.developerakademie.net/kanban-app/smallest_backend_ever')</script>
    <script src="../assets/js/toggle-button.js"></script>

    <link rel="icon" type="image/x-icon" href="../assets/img/favicon.ico">
</head>

<body onload="includeHTML()">
    <div w3-include-html="../views/nav.html"></div>
    <div class="help-container">
        <h1>Wellcome to Join</h1>
        <p>Join is a web-based Kanban project management application. It enables easy, real-time collaboration between
            team members and even multiple teams and projects.</p>
        <h2>Board</h2>
        <p>The board shows all the task you have defined in the Add Task section accordding to the current status of
            each task.<br>
            The status of the tasks are: To Do, In Progress, Testing and Done; and you can move the task to another
            status if necessary (Drag&Drop)<br>
            It is possible to edit or delete any information established previously. </p>
        <h2>Backlog</h2>
        <p>The tasks are listed in the Backlog section ordered by the status of the tasks.</p>
        <h2>Add Task</h2>
        <p>In the section tasks you can define your tasks. Information such as title, description, category and
            assignment</p>
    </div>
</body>

</html>