<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imprint</title>

    <link rel="stylesheet" href="../assets/css/fonts.css">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/imprint.css">
    
    <script src="../assets/js/mini_backend.js"></script>
    <script src="../assets/js/main.js"> </script>
    <script>setURL('https://andrea-boehme.developerakademie.net/kanban-app/smallest_backend_ever')</script>
    <script src="../assets/js/toggle-button.js"></script>

    <link rel="icon" type="image/x-icon" href="../assets/img/favicon.ico">
</head>

<body onload="includeHTML()">
    <div w3-include-html="../views/nav.html"></div>
    <div class="imprint-container">
        <h1>Impressum</h1>
        <p>Angaben gemäß § 5 TMG</p>
        <p>Andrea Böhme</p>
        <p>Lindenweg</p>
        <p>82284 Grafrath</p><br>
        <br>
        <br>
        <p><b>Kontakt:</b></p>
        <p>E-Mail: aandrea.bboehme@yahoo.com</p>
    </div>
</body>

</html>