h1 {
    margin-bottom: 20px;
}

h2, h3{
    margin-top: 10px;
}

.data-protection-container a {
    text-decoration: none;
    font-style: italic;
    color: var(--clr-main);
}

.data-protection-container{
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 150px;
    margin-bottom: 50px;
    color: var(--clr-main);
    width: calc(100% - 400px);
}

@media(max-width: 860px) {
    
    .data-protection-container {
        margin-top: 130px;
        margin-left: 100px;
        margin-right: 100px;
        width: calc(100% - 200px);
    }
}

@media(max-width: 600px) {
    
    .data-protection-container {
        margin-left: 50px;
        margin-right: 50px;
        width: calc(100% - 100px);
    }
}

@media(max-width: 400px) {
    
    .data-protection-container {
        margin-left: 8px;
        margin-right: 8px;
        width: calc(100% - 16px);
    }
}